# Quiz 1

### combine_first()

In [7]:
import pandas as pd

A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})

Combine_first()는 index를 기준으로 병합한다.
1. `movieCd`를 인덱스로 하여, movieCd를 기준으로 병합이 되게 설정한다.
2. combine_first()를 통해 A와 B를 movieCd를 기준으로 병합한다.
3. movieCd의 값이 1003인 경우, repNationCd가 None이므로, B의 F값을 가져온다.
4. movieCd의 값이 1004인 경우, A에는 존재하지 않기 때문에 B에서 ultiMovieYn과 repNationCd의 값을 모두 가져온다.

In [2]:
A = A.set_index("movieCd")
A

        multiMovieYn repNationCd
movieCd
1001               Y           K
1002               Y           F
1003               N        None

In [3]:
B = B.set_index("movieCd")
B

        multiMovieYn repNationCd
movieCd
1001            None        None
1003               Y           F
1004               Y           K

In [4]:
A.combine_first(B).reset_index()

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

---

# Quiz 2

### merge

In [13]:
merged_df = A.merge(B, on="movieCd", how="outer", suffixes=("_A", "_B"))
merged_df["multiMovieYn"] = merged_df["multiMovieYn_A"].combine_first(merged_df["multiMovieYn_B"])
merged_df["repNationCd_A"] = merged_df["repNationCd_A"].combine_first(merged_df["repNationCd_B"])

  movieCd multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
0    1001              Y             K           None          None
1    1002              Y             F            NaN           NaN
2    1003              N          None              Y             F
3    1004            NaN           NaN              Y             K