In [3]:
import os
import requests
import pandas as pd

In [5]:
BASE_PATH = "~/swcamp4/temp/movie"
BASE_URL = "http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json"
API_KEY = os.getenv("MOVIES_API_KEY")

In [7]:
def gen_url(dt="20120101", url_param={}):
    url = f"{BASE_URL}?key={API_KEY}&targetDt={dt}"
    for k, v in url_param.items():
        url += f"&{k}={v}"
    
    return url

def call_api(dt="20120101", url_param={}):
    url = gen_url(dt, url_param)
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        result = data['boxOfficeResult']['dailyBoxOfficeList']
        return result
    else:
        return None

def list2df(data, dt="20120101"):
    df = pd.DataFrame(data)
    df["dt"] = dt
    return df

In [14]:
ymd = "20210101"
new_path = f"{BASE_PATH}/dt={ymd}"

In [15]:
read_df = pd.read_parquet(new_path)

In [17]:
read_df.columns

Index(['rnum', 'rank', 'rankInten', 'rankOldAndNew', 'movieCd', 'movieNm',
       'openDt', 'salesAmt', 'salesShare', 'salesInten', 'salesChange',
       'salesAcc', 'audiCnt', 'audiInten', 'audiChange', 'audiAcc', 'scrnCnt',
       'showCnt'],
      dtype='object')

In [18]:
rdf = pd.read_parquet(BASE_PATH)
rdf

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt
0,1,1,0,OLD,20192567,원더 우먼 1984,2020-12-23,274407080,51.4,41920830,18,3764838540,29884,2462,9,420870,1877,4329,20210101
1,2,2,1,OLD,20202703,뱅가드,2020-12-30,44924000,8.4,2922600,7,124210900,5190,232,4.7,15570,259,516,20210101
2,3,3,-1,OLD,20040725,화양연화,2000-10-20,38790050,7.3,-5062310,-11.5,438770750,4314,-878,-16.9,52328,434,607,20210101
3,4,4,0,OLD,20201002,조제,2020-12-10,29130490,5.5,-6914350,-19.2,1702558060,3338,-1103,-24.8,189985,472,625,20210101
4,5,5,0,OLD,20192193,도굴,2020-11-04,25599980,4.8,-4481330,-14.9,13790280390,2978,-866,-22.5,1526492,294,353,20210101
5,6,6,0,OLD,20202647,나이팅게일,2020-12-30,19084320,3.6,-1865050,-8.9,59429790,2211,-337,-13.2,7573,307,410,20210101
6,7,7,0,NEW,20202130,빅풋 주니어2: 패밀리가 떴다,2021-01-06,12584970,2.4,12584970,100,12584970,1565,1565,100,1565,236,293,20210101
7,8,8,0,OLD,20167904,라라랜드,2016-12-07,8234000,1.5,-3207000,-28,30881366808,1175,-437,-27.1,3743214,33,49,20210101
8,9,9,0,OLD,20202128,100% 울프: 푸들이 될 순 없어,2020-12-24,7889510,1.5,-1954090,-19.9,106850730,1009,-318,-24,13366,147,164,20210101
9,10,10,2,OLD,20181983,이웃사촌,2020-11-25,8455600,1.6,-1000,0,3656353560,981,-82,-7.7,425745,143,168,20210101

In [20]:
rdf.dtypes

rnum               object
rank               object
rankInten          object
rankOldAndNew      object
movieCd            object
movieNm            object
openDt             object
salesAmt           object
salesShare         object
salesInten         object
salesChange        object
salesAcc           object
audiCnt            object
audiInten          object
audiChange         object
audiAcc            object
scrnCnt            object
showCnt            object
dt               category
dtype: object

In [22]:
nums_cols = [
        "rnum", "rank", "rankInten",
        "salesAmt", "salesShare", "salesInten", "salesChange", "salesAcc",
        "audiCnt", "audiInten", "audiChange",
        "scrnCnt", "showCnt"
    ]
rdf = rdf[nums_cols].apply(pd.to_numeric)

In [23]:
rdf.dtypes

rnum             int64
rank             int64
rankInten        int64
salesAmt         int64
salesShare     float64
salesInten       int64
salesChange    float64
salesAcc         int64
audiCnt          int64
audiInten        int64
audiChange     float64
scrnCnt          int64
showCnt          int64
dtype: object