In [1]:
import pandas as pd
PATH = "~/swcamp4/data/movies/dailyboxoffice/dt=20240101"
df = pd.read_parquet(PATH)

In [2]:
df.groupby(['multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
.size() \
.reset_index(name='count')

  multiMovieYn repNationCd  count
0            N           F      0
1            N           K      0
2            N         NaN     10
3            Y           F      0
4            Y           K      0
5            Y         NaN     10
6          NaN           F     10
7          NaN           K     10
8          NaN         NaN     10

In [3]:
cols = ["movieCd", "movieNm", "salesAmt", "openDt", "multiMovieYn", "repNationCd"]
df = df.drop(columns=list(set(df.columns) - set(cols)))

In [4]:
def resolve_value(series):
    unique_values = series.dropna().unique()
    return unique_values[0] if len(unique_values) > 0 else None

param_cols = ["multiMovieYn", "repNationCd"]
cols = list(set(df.columns) - set(param_cols))

agg_dict = {col: "first" for col in cols}
agg_dict.update({col: resolve_value for col in param_cols})
gdf = df.groupby(["movieCd"], dropna=False).agg(agg_dict).reset_index(drop=True)

In [5]:
gdf[param_cols] = gdf[param_cols].astype(str).replace("nan", "UNKNOWN")

In [48]:
def get_movies_rank(multiMovieYn: str=None, repNationCd: str=None, num: int=25):
    multiMovieYn = multiMovieYn.upper() if multiMovieYn else None
    repNationCd = repNationCd.upper() if repNationCd else None
    
    conditions = []
    if multiMovieYn:
        conditions.append(gdf["multiMovieYn"]==multiMovieYn)
    if repNationCd:
        conditions.append(gdf["repNationCd"]==repNationCd)

    filtered_df = gdf
    if conditions:
        filtered_df = gdf.loc[pd.concat(conditions, axis=1).all(axis=1)]
        
    return filtered_df.sort_values(by='salesAmt', ascending=False).head(num).reset_index(drop=True)

In [49]:
get_movies_rank(multiMovieYn="N")

,movieNm,movieCd,openDt,salesAmt,multiMovieYn,repNationCd
0,노량: 죽음의 바다,20203702,2023-12-20,2893509165,N,K
1,서울의 봄,20212866,2023-11-22,2666429137,N,K
2,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,20236146,2023-12-22,565417320,N,F
3,아쿠아맨과 로스트 킹덤,20235735,2023-12-20,507984981,N,F
4,트롤: 밴드 투게더,20235596,2023-12-20,273538754,N,F
5,뽀로로 극장판 슈퍼스타 대모험,20234673,2023-12-13,113680587,N,K
6,도티와 영원의 탑,20235290,2023-12-27,100024717,N,K
7,말하고 싶은 비밀,20235980,2023-12-13,38025184,N,F
8,3일의 휴가,20190324,2023-12-06,28109697,N,K
9,나폴레옹,20235098,2023-12-06,4056567,N,UNKNOWN

In [39]:
get_movies_rank(repNationCd="K")

,movieNm,movieCd,openDt,salesAmt,multiMovieYn,repNationCd
0,노량: 죽음의 바다,20203702,2023-12-20,2893509165,N,K
1,서울의 봄,20212866,2023-11-22,2666429137,N,K
2,뽀로로 극장판 슈퍼스타 대모험,20234673,2023-12-13,113680587,N,K
3,도티와 영원의 탑,20235290,2023-12-27,100024717,N,K
4,3일의 휴가,20190324,2023-12-06,28109697,N,K
5,너와 나,20228560,2023-10-25,2625839,UNKNOWN,K
6,싱글 인 서울,20202247,2023-11-29,1903007,UNKNOWN,K
7,엔시티 네이션 : 투 더 월드 인 시네마,20235697,2023-12-06,1364000,UNKNOWN,K
8,어른 김장하,20232077,2023-11-15,214000,UNKNOWN,K
9,교토에서 온 편지,20227525,2023-12-06,207000,UNKNOWN,K

In [40]:
get_movies_rank(multiMovieYn="Y", repNationCd="F")

,movieNm,movieCd,openDt,salesAmt,multiMovieYn,repNationCd
0,괴물,20234114,2023-11-29,92381680,Y,F
1,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",20236045,2023-12-27,53094530,Y,F
2,류이치 사카모토: 오퍼스,20236080,2023-12-27,31686950,Y,F
3,크레센도,20233299,2023-12-20,29203100,Y,F
4,사랑은 낙엽을 타고,20235923,2023-12-20,11011634,Y,F
5,리빙: 어떤 인생,20235693,2023-12-13,6942434,Y,F

In [41]:
get_movies_rank(num=15)

,movieNm,movieCd,openDt,salesAmt,multiMovieYn,repNationCd
0,노량: 죽음의 바다,20203702,2023-12-20,2893509165,N,K
1,서울의 봄,20212866,2023-11-22,2666429137,N,K
2,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,20236146,2023-12-22,565417320,N,F
3,아쿠아맨과 로스트 킹덤,20235735,2023-12-20,507984981,N,F
4,트롤: 밴드 투게더,20235596,2023-12-20,273538754,N,F
5,뽀로로 극장판 슈퍼스타 대모험,20234673,2023-12-13,113680587,N,K
6,도티와 영원의 탑,20235290,2023-12-27,100024717,N,K
7,괴물,20234114,2023-11-29,92381680,Y,F
8,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",20236045,2023-12-27,53094530,Y,F
9,말하고 싶은 비밀,20235980,2023-12-13,38025184,N,F
10,류이치 사카모토: 오퍼스,20236080,2023-12-27,31686950,Y,F
11,크레센도,20233299,2023-12-20,29203100,Y,F
12,3일의 휴가,20190324,2023-12-06,28109697,N,K
13,사랑은 낙엽을 타고,20235923,2023-12-20,11011634,Y,F
14,리빙: 어떤 인생,20235693,2023-12-13,6942434,Y,F

In [42]:
gdf.sort_values(by='salesAmt', ascending=False).reset_index(drop=True)

,movieNm,movieCd,openDt,salesAmt,multiMovieYn,repNationCd
0,노량: 죽음의 바다,20203702,2023-12-20,2893509165,N,K
1,서울의 봄,20212866,2023-11-22,2666429137,N,K
2,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,20236146,2023-12-22,565417320,N,F
3,아쿠아맨과 로스트 킹덤,20235735,2023-12-20,507984981,N,F
4,트롤: 밴드 투게더,20235596,2023-12-20,273538754,N,F
5,뽀로로 극장판 슈퍼스타 대모험,20234673,2023-12-13,113680587,N,K
6,도티와 영원의 탑,20235290,2023-12-27,100024717,N,K
7,괴물,20234114,2023-11-29,92381680,Y,F
8,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",20236045,2023-12-27,53094530,Y,F
9,말하고 싶은 비밀,20235980,2023-12-13,38025184,N,F
10,류이치 사카모토: 오퍼스,20236080,2023-12-27,31686950,Y,F
11,크레센도,20233299,2023-12-20,29203100,Y,F
12,3일의 휴가,20190324,2023-12-06,28109697,N,K
13,사랑은 낙엽을 타고,20235923,2023-12-20,11011634,Y,F
14,리빙: 어떤 인생,20235693,2023-12-13,6942434,Y,F
15,나폴레옹,20235098,2023-12-06,4056567,N,UNKNOWN
16,그대들은 어떻게 살 것인가,20234664,2023-10-25,3371362,Y,UNKNOWN
17,피아니스트의 전설,20124722,2020-01-01,3063078,Y,UNKNOWN
18,립세의 사계,20236533,2024-01-10,2804970,Y,UNKNOWN
19,너와 나,20228560,2023-10-25,2625839,UNKNOWN,K
20,싱글 인 서울,20202247,2023-11-29,1903007,UNKNOWN,K
21,엔시티 네이션 : 투 더 월드 인 시네마,20235697,2023-12-06,1364000,UNKNOWN,K
22,쿼바디스,19860125,1973-01-13,589000,Y,UNKNOWN
23,어른 김장하,20232077,2023-11-15,214000,UNKNOWN,K
24,교토에서 온 편지,20227525,2023-12-06,207000,UNKNOWN,K

In [43]:
get_movies_rank(multiMovieYn="N")

,movieNm,movieCd,openDt,salesAmt,multiMovieYn,repNationCd
0,노량: 죽음의 바다,20203702,2023-12-20,2893509165,N,K
1,서울의 봄,20212866,2023-11-22,2666429137,N,K
2,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,20236146,2023-12-22,565417320,N,F
3,아쿠아맨과 로스트 킹덤,20235735,2023-12-20,507984981,N,F
4,트롤: 밴드 투게더,20235596,2023-12-20,273538754,N,F
5,뽀로로 극장판 슈퍼스타 대모험,20234673,2023-12-13,113680587,N,K
6,도티와 영원의 탑,20235290,2023-12-27,100024717,N,K
7,말하고 싶은 비밀,20235980,2023-12-13,38025184,N,F
8,3일의 휴가,20190324,2023-12-06,28109697,N,K
9,나폴레옹,20235098,2023-12-06,4056567,N,UNKNOWN

In [50]:
get_movies_rank()

,movieNm,movieCd,openDt,salesAmt,multiMovieYn,repNationCd
0,노량: 죽음의 바다,20203702,2023-12-20,2893509165,N,K
1,서울의 봄,20212866,2023-11-22,2666429137,N,K
2,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,20236146,2023-12-22,565417320,N,F
3,아쿠아맨과 로스트 킹덤,20235735,2023-12-20,507984981,N,F
4,트롤: 밴드 투게더,20235596,2023-12-20,273538754,N,F
5,뽀로로 극장판 슈퍼스타 대모험,20234673,2023-12-13,113680587,N,K
6,도티와 영원의 탑,20235290,2023-12-27,100024717,N,K
7,괴물,20234114,2023-11-29,92381680,Y,F
8,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",20236045,2023-12-27,53094530,Y,F
9,말하고 싶은 비밀,20235980,2023-12-13,38025184,N,F
10,류이치 사카모토: 오퍼스,20236080,2023-12-27,31686950,Y,F
11,크레센도,20233299,2023-12-20,29203100,Y,F
12,3일의 휴가,20190324,2023-12-06,28109697,N,K
13,사랑은 낙엽을 타고,20235923,2023-12-20,11011634,Y,F
14,리빙: 어떤 인생,20235693,2023-12-13,6942434,Y,F
15,나폴레옹,20235098,2023-12-06,4056567,N,UNKNOWN
16,그대들은 어떻게 살 것인가,20234664,2023-10-25,3371362,Y,UNKNOWN
17,피아니스트의 전설,20124722,2020-01-01,3063078,Y,UNKNOWN
18,립세의 사계,20236533,2024-01-10,2804970,Y,UNKNOWN
19,너와 나,20228560,2023-10-25,2625839,UNKNOWN,K
20,싱글 인 서울,20202247,2023-11-29,1903007,UNKNOWN,K
21,엔시티 네이션 : 투 더 월드 인 시네마,20235697,2023-12-06,1364000,UNKNOWN,K
22,쿼바디스,19860125,1973-01-13,589000,Y,UNKNOWN
23,어른 김장하,20232077,2023-11-15,214000,UNKNOWN,K
24,교토에서 온 편지,20227525,2023-12-06,207000,UNKNOWN,K