In [1]:
# tree -L 1
# .
# ├── dt=20240101
# ├── dt=20240102
# ├── dt=20240103
# └── dt=20240104

BASE_PATH = "/Users/joon/swcamp4/data/movies/dailyboxoffice"

In [2]:
import pandas as pd

df = pd.read_parquet(BASE_PATH)

In [3]:
df.columns

Index(['rnum', 'rank', 'rankInten', 'rankOldAndNew', 'movieCd', 'movieNm',
       'openDt', 'salesAmt', 'salesShare', 'salesInten', 'salesChange',
       'salesAcc', 'audiCnt', 'audiInten', 'audiChange', 'audiAcc', 'scrnCnt',
       'showCnt', 'dt', 'multiMovieYn', 'repNationCd'],
      dtype='object')

In [4]:
A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})

In [5]:
# TODO ...

# movieCd multiMovieYn repNationCd
# 0    1001            Y           K
# 1    1002            Y           F
# 2    1003            N           F
# 3    1004            Y           K

In [11]:
C = A.combine_first(B)

In [14]:
C.combine_first(A)

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           K