In [5]:
import pandas as pd
pd.read_parquet("/Users/joon/swcamp4/data/movies_after")

In [2]:
df

,movieNm,audiCnt,multiMovieYn,repNationCd,rnum,rank
0,노량: 죽음의 바다,70990,N,K,1,1
1,서울의 봄,67766,N,K,2,2
2,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,19367,N,F,3,3
3,아쿠아맨과 로스트 킹덤,14940,N,F,4,4
4,트롤: 밴드 투게더,7557,N,F,5,5
5,뽀로로 극장판 슈퍼스타 대모험,4826,N,K,6,6
6,괴물,4366,Y,F,7,7
7,도티와 영원의 탑,3777,N,K,8,8
8,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",3343,Y,F,9,9
9,크레센도,1920,Y,F,10,10
10,류이치 사카모토: 오퍼스,1888,Y,F,11,11
11,3일의 휴가,1633,N,K,12,12
12,말하고 싶은 비밀,1571,N,F,13,13
13,나폴레옹,422,N,F,14,14
14,리빙: 어떤 인생,381,Y,F,15,15
15,사랑은 낙엽을 타고,355,Y,NaN,16,16
16,그대들은 어떻게 살 것인가,222,Y,NaN,17,17
17,티처스 라운지,217,Y,NaN,18,18
18,피아니스트의 전설,188,Y,NaN,19,19
19,수라,172,Y,K,20,20
20,너와 나,116,NaN,K,21,21
21,싱글 인 서울,101,NaN,K,22,22
22,백남준: 달은 가장 오래된 TV,49,NaN,K,23,23
23,비밀,46,NaN,K,24,24