In [3]:
import pandas as pd
df = pd.read_parquet("~/swcamp4/data/movies_after/meta")
df

,audiCnt,salesAmt,rnum,audiAcc,movieCd,rankOldAndNew,audiChange,salesAcc,rankInten,audiInten,...,showCnt,scrnCnt,salesShare,salesInten,openDt,rank,salesChange,multiMovieYn,repNationCd,dt
0,290717,2893509165,1,3728850,20203702,OLD,-16.9,36926118105,0,-59184,...,5793,1706,38.8,-686119312,2023-12-20,1,-19.2,N,K,20240101
1,262422,2666429137,2,12117201,20212866,OLD,-19.6,118016920547,0,-64054,...,5444,1614,35.8,-649456909,2023-11-22,2,-19.6,N,K,20240101
2,58239,565417320,3,626508,20236146,OLD,-10.4,6071745009,0,-6751,...,1671,834,7.6,-69888800,2023-12-22,3,-11.0,N,F,20240101
3,49368,507984981,4,772354,20235735,OLD,-22.9,7967584753,0,-14686,...,1611,832,6.8,-156026099,2023-12-20,4,-23.5,N,F,20240101
4,28988,273538754,5,365927,20235596,OLD,-6.3,3383181955,0,-1952,...,981,660,3.7,-16945147,2023-12-20,5,-5.8,N,F,20240101
5,11586,113680587,6,332776,20234673,OLD,1.7,3046919883,1,190,...,432,335,1.5,2278496,2023-12-13,6,2.0,N,K,20240101
6,10704,100024717,7,52400,20235290,OLD,-10.6,488186693,-1,-1268,...,419,357,1.3,-13487835,2023-12-27,7,-11.9,N,K,20240101
7,8710,92381680,8,396137,20234114,OLD,-5.7,3884333955,0,-524,...,263,187,1.2,-3768994,2023-11-29,8,-3.9,Y,F,20240101
8,6471,53094530,9,45294,20236045,OLD,1.0,372974290,0,67,...,248,207,0.7,-707720,2023-12-27,9,-1.3,Y,F,20240101
9,3765,38025184,10,89597,20235980,OLD,-4.2,868379725,1,-164,...,127,95,0.5,-2349427,2023-12-13,10,-5.8,N,F,20240101
10,3295,28109697,11,517836,20190324,OLD,-16.0,4863180386,0,-626,...,157,132,0.4,-5429437,2023-12-06,11,-16.2,N,K,20240101
11,3001,31686950,12,34196,20236080,OLD,-35.6,317887981,0,-1659,...,270,200,12.7,-15234118,2023-12-27,12,-32.5,Y,F,20240101
12,2534,29203100,13,39445,20233299,OLD,-8.5,424298400,0,-235,...,102,79,11.7,-2644200,2023-12-20,13,-8.3,Y,F,20240101
13,1052,11011634,14,17008,20235923,OLD,-2.6,163391820,0,-28,...,33,30,4.4,285955,2023-12-20,14,2.7,Y,F,20240101
14,729,6942434,15,18551,20235693,OLD,-19.9,174717087,0,-181,...,23,20,2.8,-1569966,2023-12-13,15,-18.4,Y,F,20240101
15,540,4056567,16,225912,20235098,OLD,-3.6,2246030517,0,-20,...,25,23,0.1,-89539,2023-12-06,16,-2.2,N,NaN,20240101
16,318,3371362,17,2009716,20234664,OLD,-8.4,19543638004,5,-29,...,20,17,1.4,-142718,2023-10-25,17,-4.1,Y,NaN,20240101
17,294,2804970,18,512,20236533,NEW,100.0,4330970,0,294,...,4,4,1.1,2804970,2024-01-10,18,100.0,Y,NaN,20240101
18,294,3063078,19,51876,20124722,OLD,-32.6,416989591,2,-142,...,25,23,1.2,-1092200,2020-01-01,19,-26.3,Y,NaN,20240101
19,292,589000,20,20951,19860125,OLD,32.7,37856982,4,72,...,3,1,0.2,149000,1973-01-13,20,33.9,Y,NaN,20240101
20,212,1903007,21,399787,20202247,OLD,-7.4,3740536035,2,-17,...,9,9,0.0,-409621,2023-11-29,21,-17.7,NaN,K,20240101
21,192,2625839,22,33811,20228560,OLD,-63.7,330224803,-1,-337,...,8,8,0.0,-3233861,2023-10-25,22,-55.2,NaN,K,20240101
22,69,1364000,23,25099,20235697,OLD,-67.6,554784000,1,-144,...,8,8,0.0,-3168000,2023-12-06,23,-69.9,NaN,K,20240101
23,31,214000,24,27603,20232077,OLD,-20.5,230592472,6,-8,...,2,2,0.0,-58000,2023-11-15,24,-21.3,NaN,K,20240101
24,29,207000,25,6717,20227525,OLD,-39.6,58288197,3,-19,...,3,3,0.0,-67800,2023-12-06,25,-24.7,NaN,K,20240101

In [5]:
a = pd.read_parquet("/Users/joon/swcamp4/data/movies/merge/dailyboxoffice/dt=20240101")
a

,audiCnt,salesAmt,rnum,audiAcc,movieCd,rankOldAndNew,audiChange,salesAcc,rankInten,audiInten,movieNm,showCnt,scrnCnt,salesShare,salesInten,openDt,rank,salesChange,multiMovieYn,repNationCd
0,290717,2893509165,1,3728850,20203702,OLD,-16.9,36926118105,0,-59184,노량: 죽음의 바다,5793,1706,38.8,-686119312,2023-12-20,1,-19.2,N,K
1,262422,2666429137,2,12117201,20212866,OLD,-19.6,118016920547,0,-64054,서울의 봄,5444,1614,35.8,-649456909,2023-11-22,2,-19.6,N,K
2,58239,565417320,3,626508,20236146,OLD,-10.4,6071745009,0,-6751,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,1671,834,7.6,-69888800,2023-12-22,3,-11.0,N,F
3,49368,507984981,4,772354,20235735,OLD,-22.9,7967584753,0,-14686,아쿠아맨과 로스트 킹덤,1611,832,6.8,-156026099,2023-12-20,4,-23.5,N,F
4,28988,273538754,5,365927,20235596,OLD,-6.3,3383181955,0,-1952,트롤: 밴드 투게더,981,660,3.7,-16945147,2023-12-20,5,-5.8,N,F
5,11586,113680587,6,332776,20234673,OLD,1.7,3046919883,1,190,뽀로로 극장판 슈퍼스타 대모험,432,335,1.5,2278496,2023-12-13,6,2.0,N,K
6,10704,100024717,7,52400,20235290,OLD,-10.6,488186693,-1,-1268,도티와 영원의 탑,419,357,1.3,-13487835,2023-12-27,7,-11.9,N,K
7,8710,92381680,8,396137,20234114,OLD,-5.7,3884333955,0,-524,괴물,263,187,1.2,-3768994,2023-11-29,8,-3.9,Y,F
8,6471,53094530,9,45294,20236045,OLD,1.0,372974290,0,67,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",248,207,0.7,-707720,2023-12-27,9,-1.3,Y,F
9,3765,38025184,10,89597,20235980,OLD,-4.2,868379725,1,-164,말하고 싶은 비밀,127,95,0.5,-2349427,2023-12-13,10,-5.8,N,F
10,3295,28109697,11,517836,20190324,OLD,-16.0,4863180386,0,-626,3일의 휴가,157,132,0.4,-5429437,2023-12-06,11,-16.2,N,K
11,3001,31686950,12,34196,20236080,OLD,-35.6,317887981,0,-1659,류이치 사카모토: 오퍼스,270,200,12.7,-15234118,2023-12-27,12,-32.5,Y,F
12,2534,29203100,13,39445,20233299,OLD,-8.5,424298400,0,-235,크레센도,102,79,11.7,-2644200,2023-12-20,13,-8.3,Y,F
13,1052,11011634,14,17008,20235923,OLD,-2.6,163391820,0,-28,사랑은 낙엽을 타고,33,30,4.4,285955,2023-12-20,14,2.7,Y,F
14,729,6942434,15,18551,20235693,OLD,-19.9,174717087,0,-181,리빙: 어떤 인생,23,20,2.8,-1569966,2023-12-13,15,-18.4,Y,F
15,540,4056567,16,225912,20235098,OLD,-3.6,2246030517,0,-20,나폴레옹,25,23,0.1,-89539,2023-12-06,16,-2.2,N,NaN
16,318,3371362,17,2009716,20234664,OLD,-8.4,19543638004,5,-29,그대들은 어떻게 살 것인가,20,17,1.4,-142718,2023-10-25,17,-4.1,Y,NaN
17,294,2804970,18,512,20236533,NEW,100.0,4330970,0,294,립세의 사계,4,4,1.1,2804970,2024-01-10,18,100.0,Y,NaN
18,294,3063078,19,51876,20124722,OLD,-32.6,416989591,2,-142,피아니스트의 전설,25,23,1.2,-1092200,2020-01-01,19,-26.3,Y,NaN
19,292,589000,20,20951,19860125,OLD,32.7,37856982,4,72,쿼바디스,3,1,0.2,149000,1973-01-13,20,33.9,Y,NaN
20,212,1903007,21,399787,20202247,OLD,-7.4,3740536035,2,-17,싱글 인 서울,9,9,0.0,-409621,2023-11-29,21,-17.7,NaN,K
21,192,2625839,22,33811,20228560,OLD,-63.7,330224803,-1,-337,너와 나,8,8,0.0,-3233861,2023-10-25,22,-55.2,NaN,K
22,69,1364000,23,25099,20235697,OLD,-67.6,554784000,1,-144,엔시티 네이션 : 투 더 월드 인 시네마,8,8,0.0,-3168000,2023-12-06,23,-69.9,NaN,K
23,31,214000,24,27603,20232077,OLD,-20.5,230592472,6,-8,어른 김장하,2,2,0.0,-58000,2023-11-15,24,-21.3,NaN,K
24,29,207000,25,6717,20227525,OLD,-39.6,58288197,3,-19,교토에서 온 편지,3,3,0.0,-67800,2023-12-06,25,-24.7,NaN,K