In [3]:
import pandas as pd
pd.read_parquet("/Users/joon/swcamp4/data/movies/merge/dailyboxoffice/dt=20240102").columns

Index(['movieCd', 'movieNm', 'salesAmt', 'salesInten', 'salesChange',
       'salesAcc', 'audiCnt', 'audiInten', 'audiChange', 'audiAcc', 'scrnCnt',
       'showCnt', 'repNationCd', 'multiMovieYn', 'rnum', 'rank'],
      dtype='object')

In [4]:
pd.read_parquet("~/swcamp4/data/movies_after/meta").columns

Index(['movieCd', 'movieNm', 'salesAmt', 'salesInten', 'salesChange',
       'salesAcc', 'audiCnt', 'audiInten', 'audiChange', 'audiAcc', 'scrnCnt',
       'showCnt', 'repNationCd', 'multiMovieYn', 'rnum', 'rank', 'dt'],
      dtype='object')

In [5]:
b

Empty DataFrame
Columns: []
Index: []