In [6]:
import pandas as pd
pd.read_parquet("/Users/joon/swcamp4/data/movies/merge/dailyboxoffice/dt=20240101")

,movieCd,movieNm,salesAmt,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,repNationCd,multiMovieYn,rnum,rank
0,20203702,노량: 죽음의 바다,2893509165,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,K,N,1,1
1,20212866,서울의 봄,2666429137,-649456909,-19.6,118016920547,262422,-64054,-19.6,12117201,1614,5444,K,N,2,2
2,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,565417320,-69888800,-11.0,6071745009,58239,-6751,-10.4,626508,834,1671,F,N,3,3
3,20235735,아쿠아맨과 로스트 킹덤,507984981,-156026099,-23.5,7967584753,49368,-14686,-22.9,772354,832,1611,F,N,4,4
4,20235596,트롤: 밴드 투게더,273538754,-16945147,-5.8,3383181955,28988,-1952,-6.3,365927,660,981,F,N,5,5
5,20234673,뽀로로 극장판 슈퍼스타 대모험,113680587,2278496,2.0,3046919883,11586,190,1.7,332776,335,432,K,N,6,6
6,20235290,도티와 영원의 탑,100024717,-13487835,-11.9,488186693,10704,-1268,-10.6,52400,357,419,K,N,7,7
7,20234114,괴물,92381680,-3768994,-3.9,3884333955,8710,-524,-5.7,396137,187,263,F,Y,8,8
8,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",53094530,-707720,-1.3,372974290,6471,67,1.0,45294,207,248,F,Y,9,9
9,20235980,말하고 싶은 비밀,38025184,-2349427,-5.8,868379725,3765,-164,-4.2,89597,95,127,F,N,10,10
10,20190324,3일의 휴가,28109697,-5429437,-16.2,4863180386,3295,-626,-16.0,517836,132,157,K,N,11,11
11,20236080,류이치 사카모토: 오퍼스,31686950,-15234118,-32.5,317887981,3001,-1659,-35.6,34196,200,270,F,Y,12,12
12,20233299,크레센도,29203100,-2644200,-8.3,424298400,2534,-235,-8.5,39445,79,102,F,Y,13,13
13,20235923,사랑은 낙엽을 타고,11011634,285955,2.7,163391820,1052,-28,-2.6,17008,30,33,F,Y,14,14
14,20235693,리빙: 어떤 인생,6942434,-1569966,-18.4,174717087,729,-181,-19.9,18551,20,23,F,Y,15,15
15,20235098,나폴레옹,4056567,-89539,-2.2,2246030517,540,-20,-3.6,225912,23,25,NaN,N,16,16
16,20234664,그대들은 어떻게 살 것인가,3371362,-142718,-4.1,19543638004,318,-29,-8.4,2009716,17,20,NaN,Y,17,17
17,20236533,립세의 사계,2804970,2804970,100.0,4330970,294,294,100.0,512,4,4,NaN,Y,18,18
18,20124722,피아니스트의 전설,3063078,-1092200,-26.3,416989591,294,-142,-32.6,51876,23,25,NaN,Y,19,19
19,19860125,쿼바디스,589000,149000,33.9,37856982,292,72,32.7,20951,1,3,NaN,Y,20,20
20,20202247,싱글 인 서울,1903007,-409621,-17.7,3740536035,212,-17,-7.4,399787,9,9,K,NaN,21,21
21,20228560,너와 나,2625839,-3233861,-55.2,330224803,192,-337,-63.7,33811,8,8,K,NaN,22,22
22,20235697,엔시티 네이션 : 투 더 월드 인 시네마,1364000,-3168000,-69.9,554784000,69,-144,-67.6,25099,8,8,K,NaN,23,23
23,20232077,어른 김장하,214000,-58000,-21.3,230592472,31,-8,-20.5,27603,2,2,K,NaN,24,24
24,20227525,교토에서 온 편지,207000,-67800,-24.7,58288197,29,-19,-39.6,6717,3,3,K,NaN,25,25

In [7]:
pd.read_parquet("~/swcamp4/data/movies_after/meta")

,movieCd,movieNm,salesAmt,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,repNationCd,multiMovieYn,rnum,rank,dt
0,20203702,노량: 죽음의 바다,2893509165,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,K,N,1,1,20240101
1,20212866,서울의 봄,2666429137,-649456909,-19.6,118016920547,262422,-64054,-19.6,12117201,1614,5444,K,N,2,2,20240101
2,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,565417320,-69888800,-11.0,6071745009,58239,-6751,-10.4,626508,834,1671,F,N,3,3,20240101
3,20235735,아쿠아맨과 로스트 킹덤,507984981,-156026099,-23.5,7967584753,49368,-14686,-22.9,772354,832,1611,F,N,4,4,20240101
4,20235596,트롤: 밴드 투게더,273538754,-16945147,-5.8,3383181955,28988,-1952,-6.3,365927,660,981,F,N,5,5,20240101
5,20234673,뽀로로 극장판 슈퍼스타 대모험,113680587,2278496,2.0,3046919883,11586,190,1.7,332776,335,432,K,N,6,6,20240101
6,20235290,도티와 영원의 탑,100024717,-13487835,-11.9,488186693,10704,-1268,-10.6,52400,357,419,K,N,7,7,20240101
7,20234114,괴물,92381680,-3768994,-3.9,3884333955,8710,-524,-5.7,396137,187,263,F,Y,8,8,20240101
8,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",53094530,-707720,-1.3,372974290,6471,67,1.0,45294,207,248,F,Y,9,9,20240101
9,20235980,말하고 싶은 비밀,38025184,-2349427,-5.8,868379725,3765,-164,-4.2,89597,95,127,F,N,10,10,20240101
10,20190324,3일의 휴가,28109697,-5429437,-16.2,4863180386,3295,-626,-16.0,517836,132,157,K,N,11,11,20240101
11,20236080,류이치 사카모토: 오퍼스,31686950,-15234118,-32.5,317887981,3001,-1659,-35.6,34196,200,270,F,Y,12,12,20240101
12,20233299,크레센도,29203100,-2644200,-8.3,424298400,2534,-235,-8.5,39445,79,102,F,Y,13,13,20240101
13,20235923,사랑은 낙엽을 타고,11011634,285955,2.7,163391820,1052,-28,-2.6,17008,30,33,F,Y,14,14,20240101
14,20235693,리빙: 어떤 인생,6942434,-1569966,-18.4,174717087,729,-181,-19.9,18551,20,23,F,Y,15,15,20240101
15,20235098,나폴레옹,4056567,-89539,-2.2,2246030517,540,-20,-3.6,225912,23,25,NaN,N,16,16,20240101
16,20234664,그대들은 어떻게 살 것인가,3371362,-142718,-4.1,19543638004,318,-29,-8.4,2009716,17,20,NaN,Y,17,17,20240101
17,20236533,립세의 사계,2804970,2804970,100.0,4330970,294,294,100.0,512,4,4,NaN,Y,18,18,20240101
18,20124722,피아니스트의 전설,3063078,-1092200,-26.3,416989591,294,-142,-32.6,51876,23,25,NaN,Y,19,19,20240101
19,19860125,쿼바디스,589000,149000,33.9,37856982,292,72,32.7,20951,1,3,NaN,Y,20,20,20240101
20,20202247,싱글 인 서울,1903007,-409621,-17.7,3740536035,212,-17,-7.4,399787,9,9,K,NaN,21,21,20240101
21,20228560,너와 나,2625839,-3233861,-55.2,330224803,192,-337,-63.7,33811,8,8,K,NaN,22,22,20240101
22,20235697,엔시티 네이션 : 투 더 월드 인 시네마,1364000,-3168000,-69.9,554784000,69,-144,-67.6,25099,8,8,K,NaN,23,23,20240101
23,20232077,어른 김장하,214000,-58000,-21.3,230592472,31,-8,-20.5,27603,2,2,K,NaN,24,24,20240101
24,20227525,교토에서 온 편지,207000,-67800,-24.7,58288197,29,-19,-39.6,6717,3,3,K,NaN,25,25,20240101

In [5]:
b

Empty DataFrame
Columns: []
Index: []