In [12]:
import pandas as pd
a = pd.read_parquet("~/swcamp4/data/movies_after/meta")
a

,movieCd,movieNm,salesAmt,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,repNationCd,multiMovieYn,rnum,rank,dt
0,20203702,노량: 죽음의 바다,2893509165,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,K,N,1,1,20240101
1,20212866,서울의 봄,2666429137,-649456909,-19.6,118016920547,262422,-64054,-19.6,12117201,1614,5444,K,N,2,2,20240101
2,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,565417320,-69888800,-11.0,6071745009,58239,-6751,-10.4,626508,834,1671,F,N,3,3,20240101
3,20235735,아쿠아맨과 로스트 킹덤,507984981,-156026099,-23.5,7967584753,49368,-14686,-22.9,772354,832,1611,F,N,4,4,20240101
4,20235596,트롤: 밴드 투게더,273538754,-16945147,-5.8,3383181955,28988,-1952,-6.3,365927,660,981,F,N,5,5,20240101
5,20234673,뽀로로 극장판 슈퍼스타 대모험,113680587,2278496,2.0,3046919883,11586,190,1.7,332776,335,432,K,N,6,6,20240101
6,20235290,도티와 영원의 탑,100024717,-13487835,-11.9,488186693,10704,-1268,-10.6,52400,357,419,K,N,7,7,20240101
7,20234114,괴물,92381680,-3768994,-3.9,3884333955,8710,-524,-5.7,396137,187,263,F,Y,8,8,20240101
8,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",53094530,-707720,-1.3,372974290,6471,67,1.0,45294,207,248,F,Y,9,9,20240101
9,20235980,말하고 싶은 비밀,38025184,-2349427,-5.8,868379725,3765,-164,-4.2,89597,95,127,F,N,10,10,20240101
10,20190324,3일의 휴가,28109697,-5429437,-16.2,4863180386,3295,-626,-16.0,517836,132,157,K,N,11,11,20240101
11,20236080,류이치 사카모토: 오퍼스,31686950,-15234118,-32.5,317887981,3001,-1659,-35.6,34196,200,270,F,Y,12,12,20240101
12,20233299,크레센도,29203100,-2644200,-8.3,424298400,2534,-235,-8.5,39445,79,102,F,Y,13,13,20240101
13,20235923,사랑은 낙엽을 타고,11011634,285955,2.7,163391820,1052,-28,-2.6,17008,30,33,F,Y,14,14,20240101
14,20235693,리빙: 어떤 인생,6942434,-1569966,-18.4,174717087,729,-181,-19.9,18551,20,23,F,Y,15,15,20240101
15,20235098,나폴레옹,4056567,-89539,-2.2,2246030517,540,-20,-3.6,225912,23,25,NaN,N,16,16,20240101
16,20234664,그대들은 어떻게 살 것인가,3371362,-142718,-4.1,19543638004,318,-29,-8.4,2009716,17,20,NaN,Y,17,17,20240101
17,20236533,립세의 사계,2804970,2804970,100.0,4330970,294,294,100.0,512,4,4,NaN,Y,18,18,20240101
18,20124722,피아니스트의 전설,3063078,-1092200,-26.3,416989591,294,-142,-32.6,51876,23,25,NaN,Y,19,19,20240101
19,19860125,쿼바디스,589000,149000,33.9,37856982,292,72,32.7,20951,1,3,NaN,Y,20,20,20240101
20,20202247,싱글 인 서울,1903007,-409621,-17.7,3740536035,212,-17,-7.4,399787,9,9,K,NaN,21,21,20240101
21,20228560,너와 나,2625839,-3233861,-55.2,330224803,192,-337,-63.7,33811,8,8,K,NaN,22,22,20240101
22,20235697,엔시티 네이션 : 투 더 월드 인 시네마,1364000,-3168000,-69.9,554784000,69,-144,-67.6,25099,8,8,K,NaN,23,23,20240101
23,20232077,어른 김장하,214000,-58000,-21.3,230592472,31,-8,-20.5,27603,2,2,K,NaN,24,24,20240101
24,20227525,교토에서 온 편지,207000,-67800,-24.7,58288197,29,-19,-39.6,6717,3,3,K,NaN,25,25,20240101

In [13]:
b = pd.read_parquet("/Users/joon/swcamp4/data/movies/merge/dailyboxoffice/dt=20240102")
b

,movieCd,movieNm,salesAmt,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd,rnum,rank,dt
0,20203702,노량: 죽음의 바다,657033879,-2236475286,-77.3,37583151984,70990,-219727,-75.6,3799840,1663,5285,N,K,1,1,20240102
1,20212866,서울의 봄,645476622,-2020952515,-75.8,118662397169,67766,-194656,-74.2,12184967,1467,4820,N,K,2,2,20240102
2,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,178944713,-386472607,-68.4,6250689722,19367,-38872,-66.7,645875,711,1376,N,F,3,3,20240102
3,20235735,아쿠아맨과 로스트 킹덤,142162716,-365822265,-72.0,8109747469,14940,-34428,-69.7,787294,812,1559,N,F,4,4,20240102
4,20235596,트롤: 밴드 투게더,67630105,-205908649,-75.3,3450812060,7557,-21431,-73.9,373484,478,651,N,F,5,5,20240102
5,20234673,뽀로로 극장판 슈퍼스타 대모험,45552045,-68128542,-59.9,3092471928,4826,-6760,-58.3,337602,245,315,N,K,6,6,20240102
6,20234114,괴물,43315128,-49066552,-53.1,3927649083,4366,-4344,-49.9,400503,199,279,Y,F,7,7,20240102
7,20235290,도티와 영원의 탑,32972556,-67052161,-67.0,521159249,3777,-6927,-64.7,56177,301,345,N,K,8,8,20240102
8,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",26098300,-26996230,-50.8,399072590,3343,-3128,-48.3,48637,183,209,Y,F,9,9,20240102
9,20233299,크레센도,15612000,-13591100,-46.5,439910400,1920,-614,-24.2,41365,79,117,Y,F,10,10,20240102
10,20236080,류이치 사카모토: 오퍼스,18130115,-13556835,-42.8,336018096,1888,-1113,-37.1,36084,207,285,Y,F,11,11,20240102
11,20190324,3일의 휴가,13358423,-14751274,-52.5,4876538809,1633,-1662,-50.4,519469,153,179,N,K,12,12,20240102
12,20235980,말하고 싶은 비밀,15656206,-22368978,-58.8,884035931,1571,-2194,-58.3,91168,101,119,N,F,13,13,20240102
13,20235098,나폴레옹,3114239,-942328,-23.2,2249144756,422,-118,-21.9,226334,28,29,N,F,14,14,20240102
14,20235693,리빙: 어떤 인생,3129306,-3813128,-54.9,177846393,381,-348,-47.7,18932,16,20,Y,F,15,15,20240102
15,20235923,사랑은 낙엽을 타고,3223384,-7788250,-70.7,166615204,355,-697,-66.3,17363,29,32,Y,NaN,16,16,20240102
16,20234664,그대들은 어떻게 살 것인가,2224054,-1147308,-34.0,19545862058,222,-96,-30.2,2009938,18,22,Y,NaN,17,17,20240102
17,20235905,티처스 라운지,1905188,-947740,-33.2,29788797,217,-73,-25.2,3255,28,31,Y,NaN,18,18,20240102
18,20124722,피아니스트의 전설,1726578,-1336500,-43.6,418716169,188,-106,-36.1,52064,23,25,Y,NaN,19,19,20240102
19,20227654,수라,1204000,1204000,100.0,516740124,172,172,100.0,61024,1,1,Y,K,20,20,20240102
20,20228560,너와 나,927500,-1698339,-64.7,331152303,116,-76,-39.6,33927,12,13,NaN,K,21,21,20240102
21,20202247,싱글 인 서울,918660,-984347,-51.7,3741454695,101,-111,-52.4,399888,8,10,NaN,K,22,22,20240102
22,20235264,백남준: 달은 가장 오래된 TV,377000,261000,225.0,35477484,49,28,133.3,3927,9,9,NaN,K,23,23,20240102
23,20234796,비밀,306000,306000,100.0,68575305,46,46,100.0,6767,6,6,NaN,K,24,24,20240102

In [26]:
def fillna_meta(prev_df, cur_df):
    if prev_df is None or prev_df.empty:
        return cur_df

    cols = [
        "movieNm", "rank", "rnum", 
        "salesAmt", "salesInten", "salesChange", "salesAcc",
        "audiCnt", "audiInten", "audiChange", "audiAcc",
        "scrnCnt", "showCnt",
        "multiMovieYn", "repNationCd"
    ]
    
    merged_df = prev_df.merge(cur_df, on="movieCd", how="outer", suffixes=("_A", "_B"))
    for c in cols:
        merged_df[c] = merged_df[f"{c}_A"].combine_first(merged_df[f"{c}_B"])
        merged_df.drop(columns=[f"{c}_A" for  + [f"{c}_B" for c in cols], inplace=True)
    
    return merged_df

In [27]:
fillna_meta(a, b).columns

Index(['movieCd', 'movieNm_A', 'salesAmt_A', 'salesInten_A', 'salesChange_A',
       'salesAcc_A', 'audiCnt_A', 'audiInten_A', 'audiChange_A', 'audiAcc_A',
       'scrnCnt_A', 'showCnt_A', 'repNationCd_A', 'multiMovieYn_A', 'rnum_A',
       'rank_A', 'dt_A', 'movieNm_B', 'salesAmt_B', 'salesInten_B',
       'salesChange_B', 'salesAcc_B', 'audiCnt_B', 'audiInten_B',
       'audiChange_B', 'audiAcc_B', 'scrnCnt_B', 'showCnt_B', 'multiMovieYn_B',
       'repNationCd_B', 'rnum_B', 'rank_B', 'dt_B'],
      dtype='object')